# SPDX-FileCopyrightText: 2023 Saulius Krasuckas <saulius2_at_ar-fi_point_lt> | sskras
# SPDX-License-Identifier: BlueOak-1.0.0

# Via: https://stackoverflow.com/questions/6011521/opposite-of-gitignore-file/6011532#6011532

# Start from ignoring everything except for the already added files:
/*

# Whitelist subdirs in `~`:
!*/

# Whitelist all dot-things in `~`:
!/.*

# Ignore vim-swap files:
.*.swp

# Ignore cache dir:
/.cache

# Ignore our special Git dir and its' copies:
/.files.git*

# Ignore some backup copies:
*.ORIG
